body,html{
    width:100%;
    height:100%;
    font-family: "微软雅黑", "microsoft yahei";
}
nav{
    width:100%;
    height:48px;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    opacity:0.95;
}
.menu{
    background:#fff;
    box-shadow:0 1px 2px rgba(0,0,0,0.1);
}
p{
    margin:0.3em 0 1.5em;
}

.nav-wrap{
    width:90%;
    padding:0 5%;
}
.nav-logo{
    height:20px;
    position:absolute;
    top:50%;
    left:1.25em;
    margin-top:-6px;
    z-index:9999;
}
.nav-360logo{
    width:auto;
    height:100%;

}
.nav-button{
    position:absolute;
    right:0;
    top:25%;
    height:75%;
}
.nav-button-appo{
    height: 30px;
    display: inline-block;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    background-color: #FF3D7A;
    text-decoration: none;
    position: relative;
    padding: 0 10px;
    right: 72px;
    top: 0;
    z-index:2;
}
.nav-button-more{
    position: absolute;
    right:15px;
    top: 0;
    z-index:2;
}
.nav-more-img{
    width: 23px;
}
.more{
    width:90%;
    padding: 8% 5% 0 ;
    z-index:9000;
    position:fixed;
    z-index: 9000;
    background: #fff;
    box-shadow:0 1px 2px rgba(0,0,0,.1);
    opacity: 0.95;
    left:0;
    top:-140%;
}
.more section {
    width:100%;
    border-bottom:1px solid #eee;
    text-align:center;
    font-size:1.9em;
}
h6{
    margin:1.45em;
}
.more a{
    text-decoration:none;
    color:#313131;
    font-weight:500;
}
.more a:hover{
    color:#008cd6;
}
.more a:active{
    color: #de3935
}
.shopping{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:130%;
    background: #f1f1f1;
    color: #d61416;
    z-index:10000;
}
.shopping section{
    width: 80%;
    height: 90%;
    padding: 0 10%;
    text-align: center;
    z-index:10000;
}
.shopping h3{
    font-size: 2.7em;
    font-weight: 500;
    margin:0.5em 0 ;
}
.type{
    color: #999;
    display: block;
    border:1px solid #d61416;
    width: 95%;
    padding: 0.4em 0 0.4em 5%;
    border-radius: 0.25em;
    font-size: 1.2em;
}
.shopping-button{
    background: #d61416;
    display: block;
    padding: 0.5em 0;
    text-align: center;
    margin-top: 1.25em;
    border-radius: 0.25em;
    font-size: 1.6em;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
.shopping-button:hover{
    color : #008cd6;
}
.shopping .text{
    text-align: left;
    font-size: 1em;
    margin: 0.5em 0;
}
.wrap{
    width: 100%;
    height:auto;
    position:absolute;
    left:0px;
    z-index:1;
}
.header{
    width:90%;
    position:absolute;
    top:0;
    left:0;
    padding:3.5em 0 2em;
}
.wrap-360f4{
    width:100%;
    margin-left: -2em;
}
.words_1{
    font-size: 0.8em;
    color: #fff;
    display: inline-block;
    padding-left:3em;
    margin-bottom:0.5em
}
.button_a{
    padding:0.6em 1em;
    font-size: 0.8em;
    color:#00B5EE;
    background-color:#fff;
    text-decoration: none;
    border-radius: 0.25em;
    margin-top:0.5em;
    margin-left:3.2em;
}
.cont_img{
    width:100%;
}
.cont{
    width:90%;
    padding:1em 2em ;
}
.cont h3{
    font-size: 1.6em;
    font-weight: 500;
    color: #313131;
    text-align: center;
}
.cont p{
    font-size: 0.9em;
    line-height: 2em;
    color: #313131;
}
.footer{
    text-align: center;
    padding: 7.5em 0;
}
.footer-button{
    font-size:1.5em;
    color:#fff;
    border: none;
    background-color:#de3935;
    text-decoration: none;
    padding:0.8em 2em;
    border-radius: 0.25em;
}






